{{#partial "contenido"}}
    <div class="container-fluid">
        <div id="identification" class="d-flex align-items-center fs-1 mt-4">
            <div class="ms-5 mt-3 mb-4 d-flex">
                <h3>Baja Persona Jurídica</h3>
            </div>
        </div>
    </div>
    <!-- Búsqueda -->
    <div class="container-fluid" style="margin-top: -1rem; width: 100rem">
        <form id="registroForm" method="POST" action=""> <!-- que pasa con la acción? se puede parametrizar con hbs? -->
            <div class="container d-flex align-items-center justify-content-center text-center" style="width:60%">
                <i class="bi bi-search fs-4 me-2" style="margin-top: -0.5rem"></i>

                <div class="input-group">
                    <input type="search" id="search-input" class="form-control" placeholder="Buscar persona jurídica" aria-label="Search" aria-describedby="search-addon" oninput="filterPersonas()" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <!--<form method="POST" action="/dashboard/contribuciones/distribucion_vianda/paso2">-->
            <table class="container table text-center" id="persona-juridica-table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Razón social</th>
                    <th scope="col">Tipo organización</th>
                    <th scope="col">Rubro</th>
                </tr>
                </thead>
                <tbody>
                {{#each personas}}
                    <tr>
                        <th scope="row"><input type="checkbox" class="persona-juridica-checkbox" /></th> <!-- onchange="updateSelectedCount()" -->
                        <td class="razon_social">{{this.razon_social}}</td> <!-- TODO: esto es con this. ?-->
                        <td class="tipo">{{this.tipo_organizacion}}</td>
                        <td class="rubro">{{this.rubro}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <div class="container text-center mt-4">
                <button type="submit" class="btn btn-primary-alt">Siguiente</button>
            </div>
        </form>
        <!--</form>-->
    </div>
{{/partial}}
{{#partial "scripts"}}
    <script>
        /*function updateSelectedCount() {
            const checkboxes = document.querySelectorAll('.persona-fisica-checkbox');
            const selectedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
            document.getElementById('selected-count').textContent = selectedCount;
        }*/

        function filterPersonas() {
            const searchInput = document.getElementById('search-input').value.toLowerCase();
            const rows = document.querySelectorAll('#persona-juridica-table tbody tr');

            rows.forEach(row => {
                const razon_social = row.querySelector('.razon_social').textContent.toLowerCase();
                const tipo = row.querySelector('.tipo').textContent.toLowerCase();
                const rubro = row.querySelector('.rubro').textContent.toLowerCase();
                if (razon_social.includes(searchInput) || tipo.includes(searchInput) || rubro.includes(searchInput)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
{{/partial}}
{{> templates/bases/base_admin}}