{{#partial "archivo_css"}}
    <link rel="stylesheet" href="css/contribuciones.css">
{{/partial}}
{{#partial "contenido"}}
    <div class="d-flex position-absolute top-50 start-50 translate-middle">
        <div class="card card-lg align-content-center">
            <div class="container">
                <h2 class="text-center">Elegí tus formas de contribución</h2>
                <h6 class="mb-4 text-center">Al menos una requerida</h6>

                <form method="POST" action="/dashboard/contribuciones/forma_contribucion">
                    <div class="form-check" style="margin-left: 8rem">
                        <input class="form-check-input" type="checkbox" name="money" value="DONACION_DE_DINERO" id="money">
                        <label class="form-check-label ms-4" for="money">Donación de Dinero</label>
                    </div>
                    <div class="form-check" style="margin-left: 8rem">
                        <input class="form-check-input" type="checkbox" name="food-donation" value="DONACION_DE_VIANDA" id="food-donation">
                        <label class="form-check-label ms-4" for="food-donation">Donación de Viandas</label>
                    </div>
                    <div class="form-check" style="margin-left: 8rem">
                        <input class="form-check-input" type="checkbox" name="food-distribution" value="DISTRIBUCION_DE_VIANDA" id="food-distribution">
                        <label class="form-check-label ms-4" for="food-distribution">Distribución de Viandas</label>
                    </div>
                    <div class="form-check" style="margin-left: 8rem">
                        <input class="form-check-input" type="checkbox" name="cards-distribution" value="DISTRIBUCION_DE_TARJETAS" id="cards-distribution">
                        <label class="form-check-label ms-4" for="cards-distribution">Distribución de Tarjetas</label>
                    </div>

                    <div class="container d-flex justify-content-center mt-4" style="margin-left: 1.6rem">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                        </div>
                    </div>
                </form> <!-- Cierre del formulario -->
            </div>
        </div>
    </div>

{{/partial}}
{{> templates/bases/base }}