<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="icon" href="/img/freezer_11935622.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    {{#block "archivo_css"}}{{/block}}

</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Navbar para usuarios logueados -->
        <a class="navbar-brand d-flex" href="/home">
            <img src="/img/freezer_11935622.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
            HeladerAR
        </a>
        <div class="ms-auto d-flex align-items-center d-inline-block ">
            <a href="/dashboard" class="btn btn-link btn-link-bl mx-2 d-flex align-items-center">Ir al dashboard <i class="bi bi-arrow-right-short ms-1"></i></a>
            <!-- Dropdown del perfil -->
            <div class="dropdown">
                <a href="#" class="nav-link text-white me-3 dropdown-toggle" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="perfilDropdown">
                    <!-- Cerrar sesión -->
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<main>
    {{#block "contenido"}}
    {{/block}}
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="container-fluid d-flex">
                <div class="col text-center">
                    <div class="container">
                        <a href="/policy">Política de Privacidad</a>
                    </div>
                </div>
                <div class="col">
                    <div class="container text-center">
                        <a href="/contact">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript para manejo de submenú -->
<script src="/js/dropdown.js"></script>
{{#block "scripts"}}{{/block}}
</body>
</html>