{{#partial "contenido"}}

    <div class="d-flex position-absolute top-50 start-50 translate-middle">
        <div class="card-lg">
            <div class="text-center my-2">
                <h1 class="mb-4">¡Su registro fue exitoso!</h1>
                <h4>Hemos enviado un mail confirmando sus datos a su casilla.</h4>
                <a href="" type="button" class="btn btn-link btn-sm mx-2">Reenviar mail de confirmación</a>
            </div>
            <div class="container text-center">
                <a href="/perfil" type="button" class="btn btn-primary btn-lg mx-2 mt-4">Ir a mi perfil</a>
            </div>
        </div>
    </div>

{{/partial}}
{{> templates/bases/base }}