{{#partial "contenido"}}
    <div class="container-fluid position-absolute top-50 start-50 translate-middle" style="margin-top: -3rem">
        <div id="title" class="d-flex justify-content-center">
            <div class="card-title">
                <h1>¿Para qué tipo de persona querés dar de alta la tarjeta?</h1>
            </div>
        </div>

        <form action="" method="POST"> <!-- ver ruta -->
            <div class="row">
                <div class="container">
                    <div class="col text-center">
                        <input type="submit" id="fisica" name="tipoRol" value="Persona Física" class="btn btn-outline-primary btn-lg">
                    </div>
                </div>

                <div class="container">
                    <div class="col text-center">
                        <input type="submit" id="vulnerable" name="tipoRol" value="Persona Vulnerable" class="btn btn-outline-primary btn-lg">
                    </div>
                </div>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/bases/base_admin}}