{{#partial "contenido"}}
<div class="container position-absolute top-50 start-50 translate-middle">
    <h1 class="display-4 text-center">Sobre nosotros</h1>
    <div class="container" >
        <div class="row">
            <div class="col">
                <div>
                    <h2 class="display-5">Nuestra misión</h2>
                    <p>En [Nombre de la ONG], nos comprometemos a combatir el hambre y la inseguridad alimentaria en Argentina a través de un enfoque innovador y solidario. Nuestra misión es proporcionar alimentos frescos y nutritivos a quienes más lo necesitan, utilizando una red de heladeras comunitarias gestionadas por colaboradores apasionados y dedicados.</p>
                </div>

                <div>
                    <h2 class="display-5">¿Cómo funciona?</h2>
                    <p>Nuestra estrategia es sencilla pero efectiva: colocamos heladeras en puntos estratégicos a lo largo de diferentes comunidades, en colaboración con voluntarios y aliados locales. Estas heladeras están equipadas para almacenar viandas que son donadas por individuos y empresas generosas. Los alimentos disponibles son accesibles para cualquier persona que los necesite, sin barreras ni requisitos complicados.</p>
                </div>

            </div>
            <div class="col">
                <img src="../../img/hand-giving-food-bowl-needy-person.jpg" alt="img" class="img-fluid min-vw-90" >
            </div>

        </div>
    </div>

</div>

{{/partial}}
{{> templates/bases/base_sin_registro}}