{{#partial "contenido"}}
    <div>
        <a href="https://http.cat/400">
            <img src="https://http.cat/400" alt="400 Bad Request">
        </a>
    </div>
{{/partial}}
{{> templates/bases/base}}