{{#partial "archivo_css"}}
    <link rel="stylesheet" href="../../../css/errores.css">{{/partial}}
{{#partial "contenido"}}
    <div class="center-container">
        <h1>No tenés acceso autorizado</h1>
        <a href="https://http.cat/401">
            <img src="https://http.cat/401" alt="401 Unauthorized">
        </a>
    </div>
{{/partial}}
{{> templates/bases/base}}
