{{#partial "archivo_css"}}
    <link rel="stylesheet" href="../../../css/errores.css">{{/partial}}
{{#partial "contenido"}}
    <div class="center-container">
        <h1>Hubo un conflicto al cargar el archivo</h1>
        <a href="https://http.cat/409">
            <img src="https://http.cat/409" alt="409 Conflict">
        </a>
    </div>
{{/partial}}
{{> templates/bases/base}}
