{{#partial "contenido"}}
    <div>
        <a href="https://http.cat/500">
            <img src="https://http.cat/500" alt="500 Server Error">
        </a>
    </div>
{{/partial}}
{{> templates/bases/base}}