{{#partial "contenido"}}
    <div>
        <a href="https://http.cat/501">
            <img src="https://http.cat/501" alt="501 Not Implemented">
        </a>
    </div>
{{/partial}}
{{> templates/bases/base}}